<!doctype html>
<html lang="en-US">

<% include partials/head.ejs %>

<body>
        <div class="containerPlaylist" style="overflow-y: scroll; height:400px">
        <!-- Header Title -->
        <header class="headerHard">
            <p>Hard</p>
        </header>
        <table class="playlist">
            <tr style="text-align: center">
                <th>TITLE</th>
                <th>ARTIST</th>
                <th>DURATION</th>
                <th>BPM</th>
                <th>CALORIES</th>
            </tr>
            <% hardplaylist.forEach((element)=>{%>
            <tr>
                <td>
                    <%= element.title %>
                </td>
                <td>
                    <%= element.artistname %>
                </td>
                <td>
                    <%= element.duration %>
                </td>
                <td>
                    <%= element.bpm %>
                </td>
            </tr>
            <% }) %>
        </table>

        <table class="playlist">
            <tr>
                <th>CALORIES</th>
            </tr>
            <% caloriesPerSong.forEach((index, value)=>{ %>
            <tr>
                <td>
                    <%= index %>
                </td>
                <% }) %>
            </tr>
        </table>

        <%= totalCalories %>

        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;">
                <button class="hardButton" onclick=" window.open('https://open.spotify.com/playlist/7m5krTPyW1PkDR2cfhHFj9','_blank')">
                    PLAY</button>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include partials/scripts.ejs %>

</body>
</html>