<!doctype html>
<html lang="en-US">

<% include partials/head.ejs %>

<body>
    <div class="containerPlaylist" style="overflow-y: scroll; height:400px">
        <button type="button" onclick="location.href='/dashboard'" class="dashboard"> Dashboard </button>
        <!-- Header Title -->
        <header class="headerHard">
            <p style="font-weight: 300;">Hard</p>
        </header>
        <div class="row" style="justify-content: center; margin-bottom: 30px;">
            <h1 style="color: #eb6a2f; font-weight: 300;">
                <%= totalCalories %>
                cal
            </h1>
        </div>
        <div class="col-11 playlistBorder">
            <div class="col-11" style="margin-top: 15px; margin-bottom: 15px;">
                <table class="playlist">
                    <tr style="text-align: center">
                        <th>TITLE</th>
                        <th>ARTIST</th>
                        <th>DURATION</th>
                        <th>BPM</th>
                        <th>CALORIES</th>
                    </tr>
                    <% var index = 0; %>
                    <% hardplaylist.forEach((element)=>{%>

                    <tr>
                        <td>
                            <%= element.title %>
                        </td>
                        <td style="text-align: center">
                            <%= element.artistname %>
                        </td>
                        <td style="text-align: center">
                            <%= element.duration %>
                        </td>
                        <td style="text-align: center">
                            <%= element.bpm %>
                        </td>
                        <td style="text-align: center">
                            <%= caloriesPerSong[index] %>
                        </td>
                        <% index++ %>
                        <% }) %>
                    </tr>

                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
                <button class="hardButton" onclick=" window.open('https://open.spotify.com/playlist/7m5krTPyW1PkDR2cfhHFj9','_blank')">
                    PLAY</button>
            </div>
        </div>
        
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include partials/scripts.ejs %>

</body>
</html>


